<div class="inner-content">
    <nz-divider [nzText]="categoryTitle" class="divider"></nz-divider>

    <div class="category-listing">
        <div nz-row [nzGutter]="nzGutter" *ngIf="items">
            <div nz-col [nzSpan]="nzSpan" *ngFor="let item of items">
                <app-item-card [item]="item"></app-item-card>
            </div>
        </div>
    </div>
</div>
