.inner-content {
    margin-top: 15px;
    background: #fff; // #f0f2f5;
}

.divider {
    font-size: 30px;
}

.category-listing {
    background: #fff;
    padding: 0 30px 30px 30px;
}

.rate {
    text-align: right;
}
