.inner-content {
    margin-top: 15px;
    background: #fff; // #f0f2f5;
    font-size: 20px;
}

h2 {
    text-align: center;
    margin-top: 25px;
}

.table {
    margin: 15px 30px;
}

.img {
    width: 150px;
}
