<div class="inner-content">
    <div nz-row>
        <h2>Your orders:</h2>
    </div>
    <div nz-row>
        <nz-table [nzData]="shopingBag" class="table" nzShowPagination="false">
            <thead>
                <tr>
                    <th nzLeft="0px" nzWidth="750px">Product</th>
                    <th>Size</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of shopingBag">
                    <td nzLeft="0px">
                        <img disable [src]="data.item.storages[0].dire" class="img" />
                        {{ data.item.name }}
                    </td>
                    <td>{{ data.size.value }}</td>
                    <td>{{ data.item.price }} USD</td>
                    <td>
                        <nz-input-number
                            [(ngModel)]="data.quantity"
                            [nzMin]="1"
                            [nzMax]="data.item.quantity"
                            [nzStep]="1"
                        ></nz-input-number>
                    </td>
                    <td>{{ data.item.price * data.quantity }}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>
