<form nz-form [formGroup]="validateForm" (ngSubmit)="register()">
    <nz-form-item>
        <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="erroruUername">
            <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input formControlName="userName" placeholder="Username" />
            </nz-input-group>
            <ng-template #erroruUername let-control>
                <ng-container *ngIf="control.hasError('required')">
                    Please input your username!
                </ng-container>
                <ng-container *ngIf="control.hasError('minlength')"
                    >Username does not meet minimum requirements 3 symbols</ng-container
                >
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzErrorTip]="errorPass">
            <nz-input-group nzPrefixIcon="lock">
                <input
                    nz-input
                    type="password"
                    id="password"
                    formControlName="password"
                    (ngModelChange)="updateConfirmValidator()"
                    placeholder="Password"
                />
            </nz-input-group>
            <ng-template #errorPass let-control>
                <ng-container *ngIf="control.hasError('required')">
                    Please confirm your password!
                </ng-container>
                <ng-container *ngIf="control.hasError('minlength')"
                    >Password does not meet minimum requirements 6 symbols</ng-container
                >
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzErrorTip]="errorRepeatPass">
            <nz-input-group nzPrefixIcon="lock">
                <input
                    nz-input
                    type="password"
                    formControlName="checkPassword"
                    id="checkPassword"
                    placeholder="Repat password"
                />
            </nz-input-group>
            <ng-template #errorRepeatPass let-control>
                <ng-container *ngIf="control.hasError('required')">
                    Please confirm your password!
                </ng-container>
                <ng-container *ngIf="control.hasError('confirm')">
                    Two passwords that you enter is inconsistent!
                </ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="The input is not valid E-mail!">
            <nz-input-group nzPrefixIcon="mail">
                <input type="text" nz-input formControlName="email" placeholder="E-mail" id="email" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="Please input your first name">
            <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input formControlName="firstName" placeholder="First name" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Please input your last name!">
            <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input formControlName="lastName" placeholder="Last name" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control
            [nzValidateStatus]="validateForm.controls['phoneNumber']"
            nzErrorTip="Please input your phone number!"
        >
            <nz-input-group nzPrefixIcon="phone">
                <input formControlName="phoneNumber" id="'phoneNumber'" nz-input placeholder="Phone number" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="Please input your address">
            <nz-input-group nzPrefixIcon="home">
                <input type="text" nz-input formControlName="address" placeholder="Address" id="address" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <label nz-checkbox formControlName="agree">
                <span>I have read the <a>agreement</a></span>
            </label>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="9">
            <button nz-button nzType="primary" [nzLoading]="isRegisterUser" [disabled]="!validateForm.valid">
                {{ registerBtnTitle }}
            </button>
        </nz-form-control>
    </nz-form-item>
</form>
