<ul nz-menu nzTheme="light" nzMode="horizontal">
    <li nz-menu-item routerLinkActive="active" routerLink="store/home">
        <h3 nz-title>
            <span><i nz-icon nzType="home" nzTheme="outline" class="icon"></i><span>Home</span></span>
        </h3>
    </li>
    <li nz-menu-item routerLinkActive="active" routerLink="store/products-list">
        <h3 nz-title>
            <span><i nz-icon nzIconfont="icon-shop1" class="icon"></i><span>Shop</span></span>
        </h3>
    </li>
    <li nz-menu-item *ngIf="isLoggedIn && isAdmin" routerLinkActive="active" routerLink="">
        <h3 nz-title>
            <span><i nz-icon nzType="dashboard" nzTheme="outline" class="icon"></i><span>Dashboard</span></span>
        </h3>
    </li>
    <li nz-menu-item *ngIf="isLoggedIn" routerLinkActive="active" routerLink="user">
        <h3 nz-title>
            <span><i nz-icon nzIconfont="icon-user3" class="icon"></i><span>User</span></span>
        </h3>
    </li>
    <li nz-menu-item *ngIf="isLoggedIn" (click)="logOut()">
        <h3 nz-title>
            <span><i nz-icon nzType="logout" class="icon"></i><span>Log Out</span></span>
        </h3>
    </li>
    <li nz-menu-item *ngIf="isLoggedIn"></li>
    <li nz-menu-item *ngIf="!isLoggedIn" (click)="showLogInModal()">
        <h3 nz-title>
            <span><i nz-icon nzType="login" nzTheme="outline" class="icon"></i><span>Log In</span></span>
        </h3>
    </li>
    <li nz-menu-item *ngIf="!isLoggedIn" (click)="showRegisterModal()">
        <h3 nz-title>
            <span><i nz-icon nzIconfont="icon-register1" class="icon"></i><span>Register</span></span>
        </h3>
    </li>
    <li nz-menu-item routerLinkActive="active" routerLink="store/shopping-card">
        <nz-badge [nzCount]="shopingCardItemCnt">
            <i nz-icon nzIconfont="icon-shoppingcard1" class="shopping-card"></i>
        </nz-badge>
    </li>
</ul>

<!-- Login form -->
<nz-modal
    *ngIf="!isLoggedIn"
    [nzWidth]="400"
    [(nzVisible)]="isVisibleLogIn"
    nzTitle="YOUR ACCOUNT FOR EVERYTHING SHOE"
    [nzFooter]="loginModalFooter"
    (nzOnCancel)="handleCancelLogIn()"
    style="text-align: center;"
>
    <app-log-in></app-log-in>
</nz-modal>

<ng-template #loginModalFooter>
    Not a member?
    <a (click)="showRegisterModal()">Join now!</a>
</ng-template>

<!-- Register form -->
<nz-modal
    *ngIf="!isLoggedIn"
    [nzWidth]="400"
    [(nzVisible)]="isVisibleRegister"
    nzTitle="BECOME A SHOEPLUS MEMBER"
    [nzFooter]="registerModalFooter"
    (nzOnCancel)="handleCancelRegister()"
>
    <app-register></app-register>
</nz-modal>

<ng-template #registerModalFooter>
    Already a member?
    <a (click)="showLogInModal()">Sign in.</a>
</ng-template>
