<div nz-row>
    <div nz-row>
        <app-carousel></app-carousel>
    </div>

    <div nz-row class="category">
        <app-category-listing-products
            [nzGutter]="60"
            [nzSpan]="6"
            categoryTitle="New collection"
            [filter]="filter.Date"
            [sort]="filter.DESC"
        ></app-category-listing-products>
    </div>
    <div nz-row class="category">
        <app-category-listing-products
            [nzGutter]="60"
            [nzSpan]="6"
            categoryTitle="Most popular products"
            [filter]="filter.PopularIndex"
            [sort]="filter.DESC"
        ></app-category-listing-products>
    </div>
</div>
