<nz-card nzHoverable class="card" [nzCover]="coverTemplate3">
    <nz-card-meta [nzTitle]="item.name"></nz-card-meta>
    <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="8">
            <nz-statistic [nzValue]="item.price | number" [nzPrefix]="prefixTpl"></nz-statistic>
            <ng-template #prefixTpl><i nz-icon [nzIconfont]="'icon-icon-svg-USD'"></i></ng-template>
        </nz-col>
        <nz-col [nzSpan]="16" class="rate"> <nz-rate [ngModel]="item.rateIndex" nzDisabled></nz-rate> </nz-col>
    </nz-row>
</nz-card>

<ng-template #coverTemplate3>
    <img
        disable
        [src]="item.storages[0].dire"
        routerLink="/store/product-detail"
        [queryParams]="{
            item_id: item.id
        }"
    />
</ng-template>
