<div nz-row>
    <h2>Your orders:</h2>
</div>
<div nz-row>
    <nz-table [nzData]="orders" class="table" nzShowPagination="false">
        <thead>
            <tr>
                <th nzLeft="0px" nzWidth="50px">Order number</th>
                <th>Address</th>
                <th>Tota</th>
                <th>Order status</th>
                <th>Items</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of orders">
                <td nzLeft="0px">{{ data.ordNumber }}</td>
                <td>{{ data.address }}</td>
                <td>{{ data.total }} USD</td>
                <td><app-status-icon [status]="data.status"></app-status-icon></td>
                <td><app-list-order-items [ordersItem]="data.items"></app-list-order-items></td>
            </tr>
        </tbody>
    </nz-table>
</div>
