<nz-card nzHoverable class="card-skeleton" [nzCover]="skeletonTemplate">
    <nz-card-meta [nzTitle]="spinner" class="title"> </nz-card-meta>
    <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="8">
            <nz-statistic [nzValue]="0 | number" [nzPrefix]="prefixTpl"></nz-statistic>
            <ng-template #prefixTpl><i nz-icon [nzIconfont]="'icon-icon-svg-USD'"></i></ng-template>
        </nz-col>
        <nz-col [nzSpan]="16" class="rate"> <nz-rate [ngModel]="0" nzDisabled></nz-rate> </nz-col> </nz-row
></nz-card>

<ng-template #skeletonTemplate>
    <nz-skeleton [nzParagraph]="{ rows: 10 }" style="background-color: #f5f5f5;"></nz-skeleton>
</ng-template>

<ng-template #spinner><nz-spin nzSimple [nzSize]="'small'"></nz-spin> </ng-template>
