<div class="inner-content">
    <div nz-row>
        <!-- filte part -->
        <div nz-col nzSpan="5">
            <div nz-row class="filter-1">
                <app-items-filter
                    [listOfdata$]="sizes$"
                    [nzSpan]="6"
                    nzTitle="Size"
                    (selectedData)="selectSize($event)"
                ></app-items-filter>
            </div>
            <div nz-row class="filter-2">
                <app-items-filter
                    [listOfdata$]="colors$"
                    [nzSpan]="12"
                    nzTitle="Color"
                    (selectedData)="selectColor($event)"
                ></app-items-filter>
            </div>
            <div nz-row class="filter-3">
                <app-items-filter
                    [listOfdata$]="categories$"
                    [nzSpan]="24"
                    nzTitle="Category"
                    (selectedData)="selectCategory($event)"
                ></app-items-filter>
            </div>
        </div>
        <!-- listing part -->
        <div nz-col nzSpan="19">
            <div nz-row class="content-top">
                <div nz-col nzSpan="12" nzGutter="2">
                    <nz-select
                        class="sort-select"
                        nzPlaceHolder="Sort by"
                        [(ngModel)]="selectedSortValue"
                        (ngModelChange)="loadData()"
                        nzAllowClear="true"
                    >
                        <nz-option
                            *ngFor="let option of listOfOptionSort"
                            [nzLabel]="option.name"
                            [nzValue]="option.value"
                        ></nz-option>
                    </nz-select>
                </div>
                <div nz-col nzSpan="12" class="pagination">
                    <nz-pagination
                        [(nzPageIndex)]="page"
                        [nzTotal]="total"
                        [nzPageSize]="perPage"
                        nzSimple
                        (nzPageIndexChange)="loadData()"
                    ></nz-pagination>
                </div>
            </div>
            <div nz-row>
                <nz-spin nzTip="Loading..." [nzSpinning]="isLoading">
                    <div class="item-listing">
                        <div nz-row *ngIf="!items">
                            <div nz-col [nzSpan]="8" *ngFor="let item of simulateSkeletonItems" class="cards">
                                <app-item-card-skeleton></app-item-card-skeleton>
                            </div>
                        </div>
                        <div nz-row *ngIf="items">
                            <div nz-col [nzSpan]="8" *ngFor="let item of items" class="cards">
                                <app-item-card [item]="item"></app-item-card>
                            </div>
                        </div>
                        <div nz-row *ngIf="!hasItemsData">
                            <nz-empty [nzNotFoundContent]="contentTpl"></nz-empty>
                            <ng-template #contentTpl>
                                <span> Not available </span>
                            </ng-template>
                        </div>
                    </div>
                </nz-spin>
            </div>
            <div nz-row class="content-bottom pagination">
                <nz-pagination
                    [(nzPageIndex)]="page"
                    [nzTotal]="total"
                    [nzPageSize]="perPage"
                    nzSimple
                    (nzPageIndexChange)="loadData()"
                ></nz-pagination>
            </div>
        </div>
    </div>
</div>
