.inner-content {
    margin-top: 15px;
    background: #fff; // #f0f2f5;
}

.pagination {
    text-align: right;
    font-size: 22px;
}

nz-select {
    width: 250px;
}

.content {
    &-top {
        margin: 20px 20px 20px 0;
    }
    &-bottom {
        margin: 20px 20px 20px 0;
    }
}

.item-listing {
    background: #fff;
    padding: 0 0 0 40px;
}

.filter {
    &-1 {
        margin: 83px 35px 0 35px;
    }
    &-2 {
        margin: 25px 35px;
    }
    &-3 {
        margin: 0 35px;
    }
}

.sort-select {
    margin-left: 40px;
}

.cards {
    margin-top: 10px;
}
