.logo {
    width: 130px;
    height: 81px;
    background: rgba(255, 255, 255, 0.2);
    // margin: 16px 24px 16px 0;
    &-1 {
        float: left;
        box-shadow: 10px 1px 10px rgba(0, 21, 41, 0.35);
    }
    &-2 {
        float: right;
        box-shadow: -10px 1px 10px rgba(0, 21, 41, 0.35);
    }
}

nz-header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

[nz-menu] {
    line-height: 64px;
}

nz-content {
    padding: 20px 50px;
}

nz-footer {
    text-align: center;
}

.content {
    min-height: 650px;
}

.spinner {
    min-height: 550px;
}
