<nz-layout>
    <nz-header>
        <div class="logo-1">
            <a routerLink="/"><img class="logo" src="../assets/images/jordan27.png"/></a>
        </div>
        <div class="logo-2">
            <a routerLink="/"><img class="logo" src="../assets/images/jordan29.png"/></a>
        </div>
        <app-navi></app-navi>
    </nz-header>
    <nz-content class="content">
        <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Loading..." class="spinner">
            <router-outlet></router-outlet>
        </nz-spin>
    </nz-content>
    <nz-footer>
        <app-footer></app-footer>
    </nz-footer>
</nz-layout>
