<div nz-row class="inner-content">
    <div nz-col nzSpan="16">
        <div class="img-containre">
            <div nz-row [nzGutter]="8">
                <div nz-col [nzSpan]="12" *ngFor="let image of shopingItem.item.storages" class="img-card">
                    <img alt="image" [src]="image.dire" class="img" />
                </div>
            </div>
        </div>
    </div>
    <div nz-col nzSpan="8" style="padding: 15px;">
        <div nz-row style="padding-top: 15px;">
            <div *ngFor="let category of shopingItem.item.categories">
                <div nz-col nzSpan="15" *ngIf="category.value == 'Woman' || category.value == 'Men'">
                    <h2 nz-title>{{ category.value }}'s Shoe</h2>
                </div>
            </div>

            <div nz-col nzSpan="8" style="text-align: center;">
                <nz-statistic [nzValue]="shopingItem.item.price | number" [nzPrefix]="prefixTpl"></nz-statistic>
                <ng-template #prefixTpl><i nz-icon [nzIconfont]="'icon-icon-svg-USD'"></i></ng-template>
            </div>
            <div></div>
        </div>
        <div nz-row>
            <h1 nz-title>{{ shopingItem.item.name }}</h1>
        </div>
        <div nz-row>
            <h3>Description:</h3>
            <p nz-paragraph style="margin: 20px">
                {{ shopingItem.item.description }}
            </p>
        </div>
        <div nz-row>
            <div nz-col nzSpan="12">
                <h3>Size:</h3>
                <nz-select
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Select a size"
                    [(ngModel)]="shopingItem.size"
                    style="width: 130px;"
                >
                    <div *ngFor="let size of shopingItem.item.sizes">
                        <nz-option [nzLabel]="size.value" [nzValue]="size"></nz-option>
                    </div>
                </nz-select>
            </div>
            <div nz-col nzSpan="12">
                <h3>Item rating:</h3>
                <nz-rate [ngModel]="shopingItem.item.rateIndex" nzDisabled></nz-rate>
            </div>
        </div>
        <div nz-row style="margin-top: 30px;">
            <!-- TODO:: Validaton for selected size! -->
            <button
                nz-button
                nzType="primary"
                nzBlock
                [disabled]="disableShopBtn"
                nzSize="large"
                style=" height: 60px; font-size: 20px;"
                (click)="addProductToShoppingCard(template)"
            >
                Add to card <i nz-icon nzIconfont="icon-shopping_card_add"></i>
            </button>
            <button
                nz-button
                nzType="default"
                nzBlock
                (click)="addProductToFavorite()"
                style="margin-top: 20px; height: 60px; font-size: 20px;"
            >
                Favorite
                <i nz-icon nzIconfont="icon-favorite1" *ngIf="!isFavorite"></i>
                <i nz-icon nzIconfont="icon-favorite_border__material" *ngIf="isFavorite"></i>
            </button>

            <ng-template #template>
                <div class="ant-notification-notice-content">
                    <div class="ant-notification-notice-with-icon" nz-row>
                        <div nz-row>
                            <span class="ant-notification-notice-icon"
                                ><i nz-icon nzIconfont="icon-Shape" style="color: rgb(16, 142, 233);"></i
                            ></span>
                            <div class="ant-notification-notice-message">Added to card</div>
                        </div>
                        <div nz-row>
                            <div nz-col nzSpan="6" class="ant-notification-notice-description">
                                <img
                                    alt="image"
                                    [src]="shopingItem.item.storages[0].dire"
                                    class="img"
                                    style="width: 100px;"
                                />
                            </div>
                            <div nz-col nzSpan="15">
                                <h3>{{ shopingItem.item.name }}</h3>
                                <span>Size: {{ shopingItem.size.value }}</span>
                                <nz-statistic
                                    [nzValue]="shopingItem.item.price | number"
                                    [nzPrefix]="prefixTpl"
                                ></nz-statistic>
                            </div>
                        </div>
                        <div nz-row style="margin-top: 15px;">
                            <div nz-col nzSpan="10">
                                <button nz-button nzBlock routerLink="/store/shopping-card">
                                    View card
                                </button>
                            </div>
                            <div nz-col nzSpan="10" nzOffset="1">
                                <button nz-button nzType="primary" nzBlock>
                                    Ceckout
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>
