.inner-content {
    margin-top: 15px;
    background: #fff; // #f0f2f5;
}

.img {
    width: 450px;
    &-card {
        margin-top: 15px;
    }
    &-containre {
        margin: 0 15px 10px 15px;
    }
}
