<nz-card class="card" [nzTitle]="title">
    <nz-checkbox-wrapper class="wrapper" (nzOnChange)="choseValue($event)">
        <div *ngIf="listOfdata$ | async as items">
            <div nz-row>
                <div nz-col [nzSpan]="nzSpan" *ngFor="let item of items">
                    <label class="data" nz-checkbox [nzValue]="item.id">{{ item.value }}</label>
                </div>
            </div>
        </div>
    </nz-checkbox-wrapper>
</nz-card>

<ng-template #title>
    <h3 nz-title>{{ nzTitle }}</h3>
</ng-template>
