<div nz-row class="inner-content">
    <div nz-col nzSpan="6">
        <h1 style="margin: 20px 60px;">My account</h1>
        <nz-card nzHoverable class="card" [nzCover]="coverTemplate" [nzActions]="[accountMenu]">
            <nz-card-meta [nzTitle]="userFullName" [nzDescription]="user.email"></nz-card-meta>
            <ng-template #userFullName>
                <span> {{ user.firstName }} </span><span> {{ user.lastName }} </span>
            </ng-template>
        </nz-card>
        <ng-template #coverTemplate>
            <nz-avatar
                *ngIf="!user.imgDir"
                class="avatar"
                [nzSize]="220"
                [nzShape]="'circle'"
                [nzText]="text"
                [ngStyle]="{ 'background-color': color }"
            ></nz-avatar>
            <nz-avatar
                *ngIf="user.imgDir"
                class="avatar"
                [nzSize]="220"
                [nzShape]="'circle'"
                [nzText]="text"
                [ngStyle]="{ 'background-color': color }"
                [nzSrc]="user.imgDir.dire"
            ></nz-avatar>
        </ng-template>
        <ng-template #accountMenu>
            <ul nz-menu class="menu">
                <li nz-menu-item routerLinkActive="active" routerLink="data">User data</li>
                <li nz-menu-item routerLinkActive="active" routerLink="orders">Orders</li>
            </ul>
        </ng-template>
    </div>
    <div nz-col nzSpan="18"><router-outlet></router-outlet></div>
</div>
