.inner-content {
    margin-top: 15px;
    background: #fff; // #f0f2f5;
}

.card {
    width: 240px;
    text-align: center;
    margin: 20px 50px;
}

.avatar {
    border: 2px solid gray;
    margin: 10px;
}

.menu {
    background-color: #9e9e9e;
    color: white;
    padding: 0;
}
