<nz-carousel nzAutoPlay nzEffect="fade" calss="carousel">
    <div nz-carousel-content *ngFor="let index of carousels">
        <img disabled [src]="index.imgDir.dire" alt="index.imgDir.id" />
    </div>
</nz-carousel>
