h2 {
    text-align: center;
    margin-top: 25px;
}

.phone-select {
    width: 70px;
}

.register-are {
    margin-bottom: 8px;
}

.update-form-button {
    width: 100%;
}

.content {
    margin-top: 40px;
    text-align: center;
}
